//- index.pug
doctype html
html
  head
    title Abhi Dance Academy 
    style
      include ../static/style.css
  body
    nav#navbar
        ul
            #logo 
                img(src="/static/img/logo.png", alt="Image Not Found!")
                | ADA 
            li #[a(href="/") Home ]
            li #[a(href="/") About ]
            li #[a(href="/") Services ]
            li #[a(href="/") Class Info ]
            li #[a(href="/") Contact Us ]

    section#introSection 
        div Welcome to Abhi's Dance Academy 
        .small Feel the beat 

    section#missionSection 
        h2 Our mission
        .card 
            h3 Dance Perfection  
            .card-box 
                .card-img 
                    img(src="/static/img/1.png", alt="Image Not Found!")   

                .card-content 
                    p This is the best Dance academy in the world 
        .card 
            h3 Dance the way you like     
            .card-box 
                .card-img 
                    img(src="/static/img/2.png", alt="Image Not Found!")   

                .card-content 
                    p This is the best Dance academy in the world
        .card 
            h3 Expert teaching   
            .card-box 
                .card-img 
                    img(src="/static/img/3.png", alt="Image Not Found!")   

                .card-content 
                    p This is the best Dance academy in the world 

    section#sponsorSection 
        h2 Our Sponsers  
        div#sponsors 
            img(src="/static/img/logo1.png", alt="Sponsor1 Image", Class= "spImage")
            img(src="/static/img/logo2.png", alt="Sponsor2 Image", Class= "spImage")
            img(src="/static/img/logo3.png", alt="Sponsor3 Image", Class= "spImage")
            img(src="/static/img/logo4.png", alt="Sponsor4 Image", Class= "spImage")


    footer#footer 
        | Copyright © 2021 AbhidanceAcademy.com | All rights reserved 
    script
      include ../static/index.js