@import url('https://fonts.googleapis.com/css2?family=Yeon+Sung&family=ZCOOL+QingKe+HuangYou&display=swap');
*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

h1{
    text-align: center;
    margin: 12px 0;
}

.container{
    min-height: 77vh;
    margin: 43px 0;
    /* display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center; */
}

.container h1{
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    font-size: 34px;

}

.myForm{
    display: flex;
    flex-direction: column;
    /* width: 50%; */
    justify-content: center;
    align-items: center;
}

.myInput{
    width: 40%;
    padding: 9px;
    margin: 8px;
    font-size: 16px;
    border: 2px solid rgb(165, 144, 144);
    border-radius: 12px;
    outline: none;

}

.btn{
    padding: 8px 16px;
    font-size: 18px;
    border: 2px solid black;
    color: white;
    border-radius: 10px;
    background-color: rgb(226, 77, 77);
    cursor: pointer;
    outline: none;
    margin: 26px;
}